body {
  background-color: black;
}
.container {
  width: 80%;
  background-color: grey;
}

h1 {
  text-align: center;

}
#heading-info p {
  text-indent: 4%;
}
.disclaimer {
  font-size: 9px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
