body {
  background: linear-gradient(to bottom right, #ffedbc, #ed4264) no-repeat;
  background-size: 300% 300%;
  animation: movingGradient 10s infinite;
}
@keyframes movingGradient{
  0% {background-position: 0% 0%}
  50% {background-position: 100% 0%;}
  100% {background-position: 0% 0%;}
}

.container {
  margin: 20px auto 20px auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

h1 {
  text-align: center;
}
#heading-info p {
  text-indent: 4%;
}
.disclaimer {
  font-size: 9px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
